<h2>Resend confirmation instructions</h2>

<%= form_for(@user, :url => confirmation_resend_path, :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.submit "Resend confirmation instructions" %></p>
<% end %>