<h2> <%= @user.username %> </h2>

<p> <strong>First Name:</strong> <%= @profile.first_name %></p>
<p> <strong>Last Name:</strong> <%= @profile.last_name %> </p>
<p> <strong>Sex:</strong> <%= @profile.sex %> </p>
<p> <strong>Birthdate:</strong> <%= @profile.birthdate %> </p>
