<h2 style='margin:0px'>Login</h2>

<%= form_for user, :url => user_session_path do |f| %>
  <% if user.errors.any? %>
		<%= render :partial => 'partials/errors', :locals => {:objects => [user]} %>
	<% end %>
  <p>
		<%= f.label :username %><br />
  	<%= f.text_field :username %>
		<%= render :partial => 'partials/error_message', 
			:locals => {:object => user, :attribute => :username} if user.errors.any? %>
	</p>
	<p>	
	  <%= f.label :password %><br />
	  <%= f.password_field :password %><br />
		<%= render :partial => 'partials/error_message', 
			:locals => {:object => user, :attribute => :password} if user.errors.any?%>
	</p>
  <%= f.submit 'Login' %>
<% end %>
