<%= form_for user do |form| %>
	<% if user.errors.any? %>
		<%= render :partial => 'partials/errors', :locals => {:objects => [user]}%>
	<% end %>
	<p>
		<%= form.label :username %><br />
		<%= form.text_field :username %>
		<%= render :partial => 'partials/error_message', :locals => {:object => user, :attribute => :username}%>
	</p>
	<p>
		<%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
		<%= form.password_field :password %>
		<%= render :partial => 'partials/error_message', :locals => {:object => user, :attribute => :password}%>
	</p>
	<p>
		<%= form.label :password_confirmation %><br />
		<%= form.password_field :password_confirmation %>
		<%= render :partial => 'partials/error_message', :locals => {:object => user, :attribute => :password_confirmation}%>
	</p>
	<p>
		<%= form.label :email %><br />
		<%= form.text_field :email %>
		<%= render :partial => 'partials/error_message', :locals => {:object => user, :attribute => :email}%>
	</p>
	<p>
		<%= form.label :email_confirmation %><br />
		<%= form.text_field :email_confirmation %>
		<%= render :partial => 'partials/error_message', :locals => {:object => user, :attribute => :email_confirmation}%>
	</p>
	<p>
		<%= form.label :distinction, 'ID Remark' %><br />
		<%= form.text_area :distinction %>
		<%= render :partial => 'partials/error_message', :locals => {:object => user, :attribute => :distinctio}%>
	</p>  
	<%= form.submit "Register" %>
<% end %>