<% content_for :head do %>
	<%= stylesheet_link_tag 'home' %>
<% end %>

<div id='header'>
	<h2 class='slogan', id='left_header'> 
		<span class='green'>Friendship</span> 
		Shouldn't 
	</h2>
	<%= image_tag 'logo24.png', {:height => 80, :width => 120, :id => 'logo'} %>
	<h2 class='slogan' id='right_header'>
		<span class='red'>Sacrifice</span> 
		<span class='blue'>Privacy</span>
	</h2>
</div>	
<div id='main'>
	<br />
	<div style='font-size:40px; text-align:center;'>
		<strong class='green'>Sphr</strong> is a network <br />designed for
		<em class='blue'><strong>privacy.</strong></em>
	</div>
	<div style='font-size:20px; text-align:center;'>
		Control who sees your activity, personal information, <br /> 
		and communications through two intuitive features.
	</div>
	<br />
	<div id='intro1' class='col'>
		<div class='number'>1 </div>
		Set <br />
		friends to  <br />
		distances with<br />
		"rings"		
		<div class='second_line'>
			<span class='blue'>Closer</span> 
			friends see more<br />
			information than <br />
			<span class='red'>farther</span>  
			ones. <br />
			Privacy <br />
			first!
		</div>
	</div>
	<div id='fields' class='col'>
		<% unless flash[:notice].nil? %>
			<div id='flash'><%= flash[:notice] %></div>
		<% end %>
		<%= link_to "Sign in", new_user_session_path %>
		<%= render :partial => 'partials/sign_in', :locals => {:user => @user} %>
		<%= render :partial => 'partials/sign_up', :locals => {:user => @user} %>
	</div>
	<div id='intro2' class='col'>
		<div class='number'>2</div>
		Place <br />
		friends into <br /> 
		groups called "cones" <br />
		<div class='second_line', style='margin-left:20px;'>
			Useful 
			<span class='green'>privacy controls</span>
			are fully integrated <br />
			throughout your communication interfaces.
		</div>
	</div>
</div>
