<% content_for :head do %>
	<%= stylesheet_link_tag 'home' %>
<% end %>

<% content_for :header do %>
	<h2 class='slogan' id='left_header'> 
		<span class='green'>Friendship</span> 
		Shouldn't 
	</h2>
	<%= image_tag 'logos/logo24.png', {:height => 80, :width => 120, :id => 'logo'} %>
	<h2 class='slogan' id='right_header'>
		<span class='red'>Sacrifice</span> 
		<span class='blue'>Privacy</span>
	</h2>
<% end %>
<div id='main'>
	<div id='big'>
		<strong class='green'>Sphr</strong> is a network <br />designed for
		<em class='blue'><strong>privacy.</strong></em>
	</div>
	<div id='small'>
		Control who sees your activity, personal information, <br /> 
		and communications through two intuitive features.
	</div>
	<br />
	<div id='intro1' class='col'>
		<div class='number'> 1 </div>
		<div class='first_line'>
			Set <br />
			friends to  <br />
			distances with<br />
			"rings"		
		</div>
		<div class='second_line'>
			<span class='blue'>Closer</span> 
			friends see more<br />
			information than <br />
			<span class='red'>farther</span>  
			ones. <br />
			Privacy <br />
			first!
		</div>
	</div>
	<div id='fields' class='col'>
		<div id='signin'><%= render :partial => 'partials/sign_in', :locals => {:user => @user} %></div>
		<div id='signup'><%= render :partial => 'partials/sign_up', :locals => {:user => @user} %></div>
		Already signed up? <br />
		<%= link_to 'Resend Confirmation Instructions', new_confirmation_path(:user) %>
	</div>
	<div id='intro2' class='col'>
		<div class='number'> 2 </div>
		<div class='first_line'>		
			Place <br />
			friends into <br /> 
			groups called "cones" <br />
		</div>		
		<div class='second_line' style='margin-left:20px;'>
				Useful
				<span class='green'>privacy controls</span>
				are fully integrated <br />
				throughout your communication interfaces.
		</div>
	</div>
</div>
<% content_for :footer do %>
	<script type='text/javascript'>
		$(document).ready(function(){
		  $("#user_username").focus();
		});
	</script>
<% end %>