<h1>Signup</h1>

<p>Already signed up?</p>
<%= link_to 'Request New Instructions', new_confirmation_path(:user) %>

<%= form_for @user do |form| %>
	<% if @user.errors.any? %>
		<%= render :partial => 'partials/errors', :locals => {:objects => [@user]}%>
	<% end %>
	<p>
		<%= form.label :email %><br />
		<%= form.text_field :email %>
		<%= render :partial => 'partials/error_message', :locals => {:object => @user, :attribute => :email}%>
	</p>
	<p>
		<%= form.label :email_confirmation %><br />
		<%= form.text_field :email_confirmation %>
		<%= render :partial => 'partials/error_message', 
			:locals => {:object => @user, :attribute => :email_confirmation}%>
	</p>
	<%= form.submit "Register" %>
<% end %>