<% content_for :head do %>
	<%= stylesheet_link_tag 'welcome' %>
	<%= javascript_include_tag 'plax.js'%>
	<script type="text/javascript">
    $(document).ready(function () {
      // $('#title').plaxify({"xRange":10,"yRange":10})
      $('#top-left').plaxify({"xRange":50,"yRange":50})
      $('#top-right').plaxify({"xRange":-20,"yRange":20})
      $('#bottom-left').plaxify({"xRange":20,"yRange":-20})
      $('#bottom-right').plaxify({"xRange":-50,"yRange":-50})
      $.plax.enable()
    })
  </script>
<% end %>

<h2>Thanks for signing up!</h2>

<p>
	An email has been sent to 
	<%= @user.email %>
	with a link to confirm your account.
</p>

<div id='shell'>
	<%= image_tag 'welcome/sphr-top-left.png', {:id => 'top-left', :class => 'plax_welcome'} %>
	<%= image_tag 'welcome/sphr-top-right.png', {:id => 'top-right', :class => 'plax_welcome'} %>
	<%= image_tag 'welcome/sphr-bottom-left.png', {:id => 'bottom-left', :class => 'plax_welcome'} %>
	<%= image_tag 'welcome/sphr-bottom-right.png', {:id => 'bottom-right', :class => 'plax_welcome'} %>
	<%= image_tag 'welcome/title.png', {:id => 'title', :class => 'plax_welcome'} %>
</div>
<!-- 
Images converted to .gif from .png by:
http://images.my-addr.com/converter_png_to_gif_online_freeware_tool.php 
Still wasn't quite as good as I would have liked.
-->
<p>
<%= link_to 'Confirm my account', user_confirmation_path(:id => @user.id, :confirmation_token => @user.confirmation_token) %>
</p>