<%= link_to 'News', activities_path, :class => 'navigation' %> 
<%= link_to_function '+ Me', "navigation_toggle_display('Me')", :id => 'Me', :class => 'navigation' %>
<div id='Me_child', style='display:none; text-indent:15px;'>
	<%= link_to current_user.which_profile(current_user).ring.projected_name, user_shoutouts_path(current_user),
 					:class => 'navigation'%>
	<%= link_to 'My Account', user_path(current_user), :class => 'navigation' %>
	<%= link_to 'Profiles', user_profiles_path(current_user), :class => 'navigation' %>
</div>
<%= link_to_function '+ Friends', "navigation_toggle_display('Friends')", :id => 'Friends', :class => 'navigation' %>
<div id='Friends_child', style='display:none; text-indent:15px;'>
	<%= link_to 'Manage', friendships_path, :class => 'navigation' %>
	<%= link_to 'Cones', cones_path, :class => 'navigation' %>
	<%= link_to 'Find', users_path, :class => 'navigation' %> 
</div>
  		<%= link_to 'Logout', user_session_path, :class => 'navigation', :method => :delete %>
